

/* .container{
    background-image: url('../Images/images.jpg');
    background-repeat:no-repeat;
    background-size:;
} */

.buttonClass{
    background-color: white;
    color: #3f4eae;
    cursor: 'pointer';
    border-radius:10px;
}

.buttonClass:hover{
    background-color: #3f4eae;
    color: white;
}

h3{
    position: absolute;
    top: 8%;
}

table{
    position: absolute;
    top:15%;
    right:10%;
    width: 80%;
}

tbody{
    border:1px solid black;
}
td{
    width:5%;
}