.loginCard{
  align-content: center;
  align-self: center;
  position: absolute;
  top: 25%;
  left: 40%;
  box-shadow: 5px 5px 5px #AAAAAA;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.loginCard .loginTable{
  margin: 0.25rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  #3F4EAE;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  #3F4EAE;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #3F4EAE;
}


